:root {
    --bs-font-inter:  "Inter";
}

body{
    font-family: var(--bs-font-inter) !important
}

.nav-pills .nav-link.active {
    background-color:  #ffff !important; 
    color: black !important;
    
}
.nav-pills .nav-link {
    padding: 6px;
    font-size: small;
    color: black !important;
}

.nav .nav-pills {
    background-color: #F7F7F7 !important;
    padding: 5px;
    border-radius: 10px;
}

.list-group li {
    cursor: pointer;
    transition: all 0.5s ease;

}

.list-group li:hover {
   background-color: #F7F7F7;
   padding: 10px;
   border-radius: 10px;
}

.nav-tabs-link-active-color{
    color: aquamarine;
}

@media (min-width: 0px) {
    .image-text{
        font-size: 20px;
        top: 0;
        left: 3.5rem;
    } 

}

@media (min-width: 390px) {
    .image-text{
        font-size: 20px;
        top: 0;
        left: 5.5rem;
    } 
}

@media (min-width: 576px) {
    .image-text{
        font-size: 20px;
        top: 0;
        left: 0px;
    } 
}

@media (min-width: 768px) {
    .image-text{
        font-size: 24px;
    } 
}

@media (min-width: 992px) {
    .image-text{
        font-size: 27px;
    } 
}

.image-description {
    font-size: 13px;
    color: #454545;
}

.title-subheading {
    color: #454545;
    font-size: 16px;
}

